@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Katibeh&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: "Katibeh", serif;
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Revelstoke';
        src: url('../src/fonts/website fonts/Revelstoke Grunge.otf') format('opentype');

    }

    @font-face {
        font-family: 'Heaven';
        src: url('../src/fonts/website fonts/Heaven-Regular.otf') format('opentype');

    }
}

@layer base {
    html {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
    }
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}

  .gradient-border {
    --border-width: 3px;
    filter:blur(3);

      /* position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    font-family: Lato, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    background: #222; */
    border-radius: var(--border-width);
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }


  /* .block-bg {
	
} */

.block-bg:before, .block-bg:after {
	content: '';
	position: absolute;
    border-radius: 10px;
    filter: blur(10px);
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 30s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block-bg:after {
	filter: blur(50px);
}